<%- include('_layouts/header') -%>

<section id="wrap-content">
  <h3 class="content-title" id="nav-title">Manage Design Template</h3>
  <div class="content-section notice">
    <h3 class="notice">This page is updating</h3>
  </div>
  <!-- <div class="content-section">
    <div class="list">
      <a href=""><h5 class="list-title">main</h5></a>
      <p class="list-desc">main</p>
    </div>
  </div>
  <div class="content-section">
    <div class="list">
      <a href=""><h5 class="list-title">article</h5></a>
      <p class="list-desc">article</p>
    </div>
  </div> -->
</section>

<%- include('_layouts/footer') -%>