<%- include('_layouts/header') -%>

<section id="wrap-content">
  <h3 class="content-title" id="nav-title">Manage Common Component</h3>
  <div class="content-section">
    <div class="list">
      <a href="/admin/editCommon"><h5 class="list-title">Common</h5></a>
      <p class="list-desc">This is editing common area</p>
    </div>
  </div>
</section>

<%- include('_layouts/footer') -%>