<%- include('_layouts/header') -%>

<section id="wrap-content">
  <div class="content-section notice">
    <h3 class="notice">Page is deleted successfully</h3>
    <a href="/admin" class="btn-back">back to admin</a>
  </div>
</section>

<%- include('_layouts/footer') -%>