<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nirvrtti - CMS Logout</title>
  <link rel="stylesheet" href="/css/adminCommon.css">
  <link rel="stylesheet" href="/css/adminLogin.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <!-- <form method="POST" action="/admin/login"> -->
    <div class="wrap" id="admin-login">

      <div id="login-logo">
        <h1>nirvrtti</h1>
        <h3>contents management system</h3>
      </div>

      <div id="login-form">
        <h3>You are successfully logged out.</h3>
        <!-- <div class="form-ele">
        </div> -->
        <div class="more">
          <a href="/admin/login" class="go-login">login</a>
        </div>
      </div>

    </div>
  <!-- </form> -->

</body>
</html>